#snack-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.total-list {
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
    color: black;
    background-color: #FED740;
    justify-content: center;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 7px;
    font-weight: bold;
    text-align: center;
}


