h1 {
    text-align: center;
    margin-bottom: 20px;
} 

#form-list {
    margin-top: 30px;
    text-align: center;
}

#boutons {
    margin-top: 10px;
    text-align: center;
    min-height: 50px;
}

button {
    margin-left: 30px;
    margin-bottom: 20px;
}
  
.example-full-width {
    margin-left: 20px;
}

