h2 {
    text-align : center;
    margin-bottom: 15px;
}

table {
    text-align: center !important;
    width: 100%;
}
  
.mat-header-cell {
    text-align: center;
}

tr.mat-footer-row {
    font-weight: bold;
}

.example-button-row button,
.example-button-row a {
    width: 25%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    position: relative;
}

.btnSuivant{
    margin-left: 50%;
}

.tarif{
    margin-top: 0;
    padding-top: 0;
}

table {
    margin-bottom: 5%;
}