.snack-card {
  max-width: 300px;
    margin: 15px; 
    border-color: rgb(206, 153, 8);
    border-style: dotted;
}

img.mat-card-image {
  max-width: 300px; 
  max-height: 270px;
  min-height: 270px;
}  

.button-row button {
  margin: 10px;
  color:black;
}







