<mat-card class="snack-card">
    <mat-card-header>
        <mat-card-title>
            {{ snack.name | uppercase }}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ snack.image }}">
    <mat-card-content>
        {{ snack.price | currency:'EUR' }}
    </mat-card-content>
    <mat-card-actions>
        <div class="button-row">
            <button (click)="actionBtnPlus($event)" name="plus" mat-mini-fab data-field="quant[0]">+</button>
            {{snack.qte}}
            <button (click)="actionBtnMoins($event)" name="moins" mat-mini-fab data-field="quant[0]">-</button>
        </div>
    </mat-card-actions>
</mat-card>